{% extends 'base-accueil.html' %}
{% load static %}

{% block title %} FindIvest | Liste des projets {% endblock %}

{% block content %}


<!-- ============== NAV ================= -->
<nav>
  <div class="container">
      <a href="#create-post">
          <h2 class="log">
              <span style="opacity: 0; visibility: hidden;">FindInvest</span>
              <img src="{% static 'img/logo1.png' %}">
          </h2>
      </a>
      
      <div class="search-bar" id="search-bar-id">
          <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
          <i class="uil uil-search"></i>
          <input class="search-bar-input" type="search" name="" id="search-bar-input" placeholder="Rechercher...">
      </div>

      <div class="create dropdown">
          {% if request.user.etudiant.id %}
              <div class="profile-photo" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{request.user.etudiant.photoProfil.url}}">
              </div>
          {% else %}
              <div class="profile-photo" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{request.user.investisseur.photoProfil.url}}">
              </div>
          {% endif %}
          <ul class="dropdown-menu">
              <li>
                {% if request.user.etudiant.id %}
                    <a class="dropdown-item" href="{% url 'profile_student' request.user.etudiant.id %}">
                {% else %}
                    <a class="dropdown-item" href="{% url 'profile_investor' request.user.investisseur.id %}">
                {% endif %}
                  <i class="uil uil-user"></i> Profil</a>
              </li>
              <li><a class="dropdown-item" href="{% url 'user_logout' %}">
                  <i class="uil uil-sign-out-alt"></i> Logout
              </a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- ============== MAIN ================= -->
<main>
  <div class="container">
      <!-- ============== LEFT =============== -->
      <div class="left">
          <a class="profile">
            {% if usr.etudiant.id %}
                <div class="profile-photo" style="cursor: pointer;">
                    <img src="{{usr.etudiant.photoProfil.url}}">
                </div>
            {% else %}
                <div class="profile-photo" style="cursor: pointer;">
                    <img src="{{usr.investisseur.photoProfil.url}}">
                </div>
            {% endif %}
              <div class="handle">
                  <h4>{{usr.last_name}}</h4>
              </div>
          </a>

          <!-- ---------- sidebar ---------- -->
          <div class="sidebar">
                <a href="{% url 'accueil' %}" class="menu-item">
                    <span><i class="uil uil-home"></i></span><h3>Accueil</h3>
                </a>
                <a href="{% url 'favoris' usr.id %}" class="menu-item">
                    <span><i class="uil uil-folder-heart"></i></span><h3>Favoris</h3>
                </a>
           
                {% if usr.etudiant.id %}
                    <a class="menu-item active" href="{% url 'profile_student' usr.etudiant.id %}">
                {% else %}
                    <a class="menu-item active" href="{% url 'profile_investor' usr.investisseur.id %}">
                {% endif %}
                    <span><i class="uil uil-user"></i></span><h3>Profil</h3>
                </a> 
                {% if usr.etudiant.id %}
                <a href="{% url 'mes_projets' usr.etudiant.id %}" class="menu-item">
                    <span><i class="uil uil-folder"></i></span><h3>Projets</h3>
                </a>
                {% endif %}
              <a class="menu-item" id="theme">
                  <span><i class="uil uil-palette"></i></span><h3>Thème</h3>
              </a>
          </div>

          <!-- ------------ end of sidebar --------- -->
      </div>
      <!-- ============== END OF LEFT =============== -->


      <!-- ============== MIDDLE =============== -->

      <!-- =======DEBUT DU STYLE DU MIDDLE ========-->
      <style>
        .head{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: -3rem;
            /* z-index: 12; */
            margin-right: 2rem;
        }
        .head .pp{
            width: 10rem;

        }

        .profile_pp{
            position: relative;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            overflow: hidden;
            /* margin: auto; */
            /* border: #0b5ed7 dashed 0.5px; */
            border: #fff solid 3px;
            /* box-shadow: #fff 0 0 1rem; */
            z-index: 12;
        }
        .profile_pp img{
            width: 100%;
        }

        .contacts{
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            font-weight: 600;
        }
        
      </style>

      <div class="middle">          
        
        <div class="create-post infos text-center" style="display: block !important; font-weight: 600; padding-bottom: 6rem;">
            Bienvenue
        </div>
        <div class="profile-info mb-4">
            

            <div class="head">
                <div class="profile_pp">
                    <img src="{{usr.investisseur.photoProfil.url}}" alt="">
                </div>
                {% if usr.id == request.user.id %}
                <span>
                    <a href="{% url 'update_profile_investor' %}" class="btn btn-primary">Modifier profil</a>
                </span>
                {% endif %}
            </div>

            <div class="infos">
                <h4 class="mb-0">{{usr.last_name}}</h4>
                <p class="mb-4">@{{usr.username}}</p>
                <h6 class="mb-1">Bio :</h6>
                <p>
                    {{usr.investisseur.bio}}
                </p>
                <p></p>
                <div class="contacts mb-2">
                    <span>
                        <i class="uil uil-map-marker-alt"></i> {{usr.investisseur.ville}}
                    </span>
                    <span>
                        <i class="uil uil-mobile-android"></i> {{usr.investisseur.telephone}}
                    </span>
                </div>
                <div class="contacts">
                    <span>
                        <i class="uil uil-graduation-cap"></i> {{usr.investisseur.profession}}
                    </span>
                    <span>
                        <i class="uil uil-chart-line"></i> {{usr.investisseur.entreprise}}
                    </span>
                </div>

                <h6 class="mt-4 mb-1">Mon objectif :</h6>
                <p>
                    {{usr.investisseur.objectifs}}
                </p>
            </div>
        </div>

        
      </div>
  </div>
</main>

{% endblock %}

